@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.firstsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ECF2FF;
    flex-wrap: wrap;
}
.secondsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E3DFFD;
    flex-wrap: wrap;
}
.thirdsection {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background-color: #E5D1FA;
    flex-wrap: wrap;
}
.main {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Dosis', sans-serif;
}
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */
img {
    max-width: 400px;
    float: left;
    border-radius: 10px;
    margin-right: 15px
}
.text-box h2 {
    font-size: 42px;
}
.text-box {
    margin: 150px auto;
    width: 70%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}
.text-box p{
    font-size: 25px;
}
