cuisine-header{
    font-family: cursive;
    align-items: center;
}

.sandwich img, .beef-stew img, .dessert img{
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin: 10px;
}

.sandwich, .beef-stew, .dessert{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-cuisine h1{
    color: rgb(189,0,0);
    text-align: center;
}

.main-cuisine p{
    font-size: 1rem;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    
}

.main-cuisine h4{
    text-align: center;
}