ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #95BDFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    display: block;
    float: left;
    text-align: center;
    padding: 15px 40px;
  }
  
  li:hover {
    background-color: #7286D3;
  }
